# 2022 ALevel Paper 2 Question 4

Task 4.1 and 4.2
- not specified that BookID, MemberNumber and LoanID are integers

In [19]:
#Task 4.1   
# Create database with 3 tables (6m)

from sqlite3 import *

open('LIBRARY.db', 'w').close()  #overwrite existing db

db = connect('LIBRARY.db')
c = db.cursor()

c.execute('''CREATE TABLE Book (
    BookID INTEGER NOT NULL PRIMARY KEY, 
    Title TEXT NOT NULL, 
    Genre TEXT NOT NULL);''')

c.execute('''CREATE TABLE Member (
    MemberNumber INTEGER NOT NULL PRIMARY KEY, 
    FamilyName TEXT NOT NULL, 
    GivenName TEXT NOT NULL);''')

c.execute('''CREATE TABLE Loan (
    LoanID INTEGER NOT NULL PRIMARY KEY, 
    MemberNumber INTEGER NOT NULL, 
    BookID INTEGER NOT NULL,
    DateLoaned TEXT NOT NULL,
    Returned TEXT NOT NULL,
    FOREIGN KEY(MemberNumber) REFERENCES Member(MemberNumber),
    FOREIGN KEY(BookID) REFERENCES Member(BookID));''')


db.commit()
db.close()

In [20]:
#Task 4.2  
# Populate the 3 tables (5m)


db = connect('LIBRARY.db')
c = db.cursor()

file = open("BOOK.txt")
lines = file.readlines()
for line in lines:
    [id, title, genre] = line.strip().split(',')

    c.execute('''INSERT INTO Book (BookID, Title, Genre)
    VALUES(?,?,?)''', (int(id), title, genre))

file.close()


file = open("MEMBER.txt")
lines = file.readlines()
for line in lines:
    [num, fname, gname] = line.strip().split(',')

    c.execute('''INSERT INTO Member (MemberNumber, FamilyName, GivenName)
    VALUES(?,?,?)''', (int(num), fname, gname))

file.close()


file = open("LOAN.txt")
lines = file.readlines()
for line in lines:
    [id, num, bookid, loandate, returned] = line.strip().split(',')

    c.execute('''INSERT INTO Loan (LoanID, MemberNumber, BookID, DateLoaned, Returned)
    VALUES(?,?,?,?,?)''', (int(id), int(num), int(bookid), loandate, returned))

file.close()


db.commit()
db.close()

In [28]:
#Task 4.3  
# Query for book loaned by a member (5m + 2m)

userinput = input("Enter the member's number: ")      #validation not required

db = connect('LIBRARY.db')
c = db.cursor()

c.execute('''SELECT Title, Returned from Loan, Book \
WHERE MemberNumber = ? \
AND Loan.BookID = Book.BookID;''', (int(userinput),))

data = c.fetchall()

print('{0:30}{1:15}'.format('Book Title', 'Returned Status'))
for (book, status) in data:
    print('{0:30}{1:15}'.format(book, status))

db.close()

Enter the member's number: 200
Book Title                    Returned Status
Monkey puzzle                 FALSE
Contemplating Camelias        FALSE
Sandy shores                  FALSE
Propogation                   TRUE